<%- include("header.ejs") -%>
<%- include("navbar.ejs") -%>

<div class="btn" style="float: right;">Guidelines <span class="material-icons-round">info</span></div>

<div class="heading">
    <h2>Read instructions carefully and Schedule your interview according to your time by clicking on button below....!</h2>
    <div class="container">
    <ul class="reading">
        <li>You'll be forwarded to external website to schedule your speaking interview </li>
        <li>Once you select your time and date you'll get confirmation mail with link in your registered email id</li>
        <li>Candidates are requested to sit on a chair and assemble their things before time</li>
        <li>Use good quality headphones for better audio quality</li>
        <li>Please be prepared before time so that there won't be wastage of time</li>
        <li>If there is technical issue and you're not able to join please reschdule if available else drop an email on official email id<a href="makesieltssimple@gmail.com">&nbsp Email</a></li>
        <li>You'll only get 15 minutes so be prepare with notebook</li>
        <li>Once test is over you can check your acore after half'n hour in your profile section in website and feedback is also provided over there</li>
    </ul>
</div>
</div>

<div class="container reading center-t">
    <form class="btn mod-btn" action="https://calendly.com/makesieltssimple/ielts-speaking">
        <input class="btn mod-btn"type="submit" value="Schedule Your Speaking" />
    </form>
    <!-- <button class="btn mod-btn" type="submit" id="submitForm" <a href="https://calendly.com/makesieltssimple/ielts-speaking"></a>>Schedule Speaking</button> -->
</div>

<%- include("footer.ejs") -%>